.download-button-container {
    overflow: auto;
    margin: 0;
}

.download-button {
    float: right;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}